@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

@theme {
  --color-background: #020617;
  --color-foreground: #f8fafc;

  --color-primary-400: #fbbf24;
  --color-primary-500: #f59e0b;

  --default-font-family: var(--font-iranyekan);
}

@layer base {
  * {
    scroll-behavior: smooth;
  }
  html {
    overflow-x: hidden;
  }
  button {
    @apply cursor-pointer;
  }
  ::selection {
    @apply bg-primary-400 text-black;
  }

  /** Scrollbar */
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-track {
    background: #0f172a;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary-400 rounded-sm;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-500;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
}
